<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>S_validacion</servlet-name>
        <servlet-class>Controladores.S_validacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Errorlogin</servlet-name>
        <servlet-class>Controladores.Errorlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>principal</servlet-name>
        <servlet-class>Controladores.principal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nuevo</servlet-name>
        <servlet-class>Controladores.Nuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarses</servlet-name>
        <servlet-class>Controladores.cerrarses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_validacion</servlet-name>
        <url-pattern>/validarlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Errorlogin</servlet-name>
        <url-pattern>/Error_validacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>principal</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nuevo</servlet-name>
        <url-pattern>/Hola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarses</servlet-name>
        <url-pattern>/cerrarses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
